.left_list{
  height: 734px;
  overflow:auto;
}
.map{
  height: 300px;
}
.info{
  max-height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 300px;
}
.margin{
  margin: 30px 0px;
}
.alarm{
  display: block;
  background-color: red;
  height: 500px;
}
